*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
58143c38-2e63-49f1-9db8-fc5362bcff7f_1651018730.png
b1277cc5-d726-43b5-8618-799682474c6d.png
foo.jpg
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb

.idea
Workspace/Books/Get_Prog_With_Scala/Unit6/L41/src/main/resources/books.csv
